<div class="container">
  {{#if userInSession}}
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="/images/firstSlide.jpg" class="d-block w-100">
      <div class="carousel-caption">
        <div class="abs-pos">
          <h2>One platform</h2>
          <p>Orchestrate powerful business solutions with a single source of truth. The only limit is your imagination.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="/images/secondSlide.jpg" class="d-block w-100">
      <div class="carousel-caption">
        <div class="abs-pos">
          <h2>One workspace</h2>
          <p>Orchestrate powerful business solutions with a single source of truth. The only limit is your imagination.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="/images/thirdSlide.jpg" class="d-block w-100">
      <div class="carousel-caption">
        <div class="abs-pos">
          <h2>One place</h2>
          <p>Orchestrate powerful business solutions with a single source of truth. The only limit is your imagination.</p>
        </div>
      </div>    
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  {{else}}
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="/images/firstSlide.jpg" class="d-block w-100">
      <div class="carousel-caption">
        <div class="abs-pos">
          <h2>One platform</h2>
          <p>Orchestrate powerful business solutions with a single source of truth. The only limit is your imagination.</p>
          <a href="/signup">
            <button class="btn btn-info rounded-pill">Sign up for free</button>
          </a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="/images/secondSlide.jpg" class="d-block w-100">
      <div class="carousel-caption">
        <div class="abs-pos">
          <h2>One workspace</h2>
          <p>Orchestrate powerful business solutions with a single source of truth. The only limit is your imagination.</p>
          <a href="/signup">
            <button class="btn btn-info rounded-pill">Sign up for free</button>
          </a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="/images/thirdSlide.jpg" class="d-block w-100">
      <div class="carousel-caption">
        <div class="abs-pos">
          <h2>One place</h2>
          <p>Orchestrate powerful business solutions with a single source of truth. The only limit is your imagination.</p>
          <a href="/signup">
            <button class="btn btn-info rounded-pill">Sign up for free</button>
          </a>
        </div>
      </div>    
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{{/if}}
</div>
