

.home-bg-image{
  background-image: url('/images/profilePictures/illustration-1-layout.png');
  width: 100%;
  height: 930px;
  background-position: -300px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: rgb(247, 247, 247);
  /* opacity: .2; */
  
}


.get-started{
  margin-top: 5px;
  width: 323px;
  height: 90px;

}

.font-roboto-regular{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.8em;
}

.font-bold{
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 5em;
  line-height: 1;
}

.font-regular{
  padding-top: 8px;
  padding-bottom: 40px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 3em;
  line-height: 1.2;
}

.bg-note-it{
  width: 100%;
  height: 860px;
  background-image: url('/images/profilePictures/bg-note-it.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.start-box{
  width: 440px;
  height: 450px;
  position: relative;
  top: 28.5%;
  left: 57%;
}



