body{
  background-color: rgb(230, 232, 235);
}

h6 {
  font-weight: bold;
}
/* NAVBAR */

.nav-link{
  color:rgb(255, 193, 209) !important;
}

.nav-link:hover {
  color: #ffffff !important;
  font-weight:500;
  
}

.user-settings {
  color:rgb(255, 193, 209) !important;
}

.user-settings:hover {
  color: #ffffff !important;
}

.navbar {
  padding-top: .1px !important; 
  padding-bottom: .1px !important;
}

/* HOME */
.carousel-caption {
  position: absolute;
  top: 0;
  left: 9rem;
}

.abs-pos {
  position: absolute;
  top: 12.5rem;
  left: 0;
  text-align: left;
  width: 30rem;
  background: rgb(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: .25em;
}

.btn-info.rounded-pill {
  padding: 10px 2em;
  color: #fff;
  background-color: #18BFFF;
  border: none;
  font-weight: bold;
}

.btn-info.rounded-pill:hover {
  padding: 10px 2em;
  color: #fff;
  background-color: #0B76B7;
  border: none;
  font-weight: bold;
}

.bg-title-hanvan {
  background-color: rgb(225, 225, 233);
}

.width-columns{
  width: 400px
}

.position-relative{
  position:relative;

}
.position-absolute{
  z-index: 1;
  position: absolute;
  margin: auto;
  
}
.edit-form{
  border-color: black;
  background-color: blue;
  position: fixed;
}

#btn-trash{
  color: rgb(29, 29, 29);
}

.bi-trash-fill:hover{
  color: white;
}

#btn-trash:hover{
  color: white
}

/* SETTINGS */
.settings-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bg-white{
  background-color: white !important;
}

.bg-yellow{
  background-color: rgb(245, 235, 178);
}

.bg-red{
  background-color: rgb(245, 188, 200);
}

.bg-green{
  background-color: rgb(179, 255, 195);
}

.bg-yellow-primary{
  background-color: yellow;
}

.bg-red-primary{
  background-color: yellow;
}

.bg-red-primary{
  background-color: rgb(226, 48, 92);
}

.border-dk{
  border: 1px solid rgb(128, 128, 128);
}

.btn-primary{
  background-color: rgb(49, 189, 253);
  border: none;
}

.btn-primary:hover{
  background-color: rgb(39, 163, 235);
  border: none;
}

.btn-success{
  background-color: rgb(30, 168, 30);
  border: rgb(30, 168, 30) 1px solid;
}
.btn-success:hover{
  background-color: rgb(0, 128, 0);
  border: rgb(0, 128, 0) 1px solid;
}

.btn-outline-danger{
  border: rgb(219, 44, 82) 1px solid;
}

.btn-outline-danger:hover{
  background-color: rgb(219, 44, 82);
}

.pp-hover-state{
  width: 2.5em; 
  height:2.5em;
  

}

.pp-hover-state:hover{
  background-color: rgb(207, 207, 207);
  opacity: .5;
  
}

.index{
z-index: 1;
}

.icon-position{
  right: 19px;
  top: 11px;
}

.round-arrow-left{
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  left: 1px;
}

.round-arrow-right{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}