h6 {
  font-weight: bold;
}
/* NAVBAR */

.nav-link:hover {
  color: #ffbe32 !important;
}

.navbar {
  padding-top: .1px !important; 
  padding-bottom: .1px !important;
}

/* HOME */
.carousel-caption {
  position: absolute;
  top: 0;
  left: 9rem;
}

.abs-pos {
  position: absolute;
  top: 12.5rem;
  left: 0;
  text-align: left;
  width: 30rem;
  background: rgb(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: .25em;
}

.btn-info.rounded-pill {
  padding: 10px 2em;
  color: #fff;
  background-color: #18BFFF;
  border: none;
  font-weight: bold;
}

.btn-info.rounded-pill:hover {
  padding: 10px 2em;
  color: #fff;
  background-color: #0B76B7;
  border: none;
  font-weight: bold;
}

.bg-title-hanvan {
  background-color: rgb(225, 225, 233);
}

.width-columns{
  width: 450px
}

.position-relative{
  position:relative;
}
.position-absolute{
  z-index: 1;
  position: absolute;
  margin: auto;
  top:10px
  
}
.edit-form{
  border-color: black;
  background-color: blue;
  position: fixed;
}

#btn-trash{
  color: rgb(29, 29, 29);
}

.bi-trash-fill:hover{
  color: white;
}

#btn-trash:hover{
  color: white
}

/* SETTINGS */
.settings-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bg-white{
  background-color: white !important;
}