


<div class="d-flex flex-wrap justify-content-center">
  {{!-- begining --}}
  <div class="bg-light border rounded">
    <h1 class="text-center mt-3">To Do</h1>
    
    {{#each notes}}
      {{#if toDoBoolean}}
        {{> note this}}
      {{/if}}
    {{/each}}

    <div class="d-flex justify-content-center mb-3">
      <form action="/main-table" method="POST">
        <input type="text" name="status" value="toDo">
        <button class="btn btn-primary rounded-pill" type="submit">+</button>
      </form>
    </div>
  </div>
  {{!-- end --}}

  {{!-- begining --}}
  <div class="bg-light border rounded">
    <h1 class="text-center mt-3">Do Today</h1>

    
      {{#each notes}}
        {{#if doTodayBoolean}}
          {{> note this}}
        {{/if}}
      {{/each}}
   
    <div class="d-flex justify-content-center mb-3">
      <form action="/main-table" method="POST">
        <input type="text" name="status" value="doToday">
        <button class="btn btn-primary rounded-pill" type="submit">+</button>
      </form>
    </div>
  </div>
{{!-- end --}}

{{!-- begining --}}
  <div class="bg-light border rounded">
    <h1 class="text-center mt-3">In Progress</h1>

    
      {{#each notes}}
        {{#if inProgressBoolean}}
          {{> note this}}
        {{/if}}
      {{/each}}
   
    <div class="d-flex justify-content-center mb-3">
      <form action="/main-table" method="POST">
        <input type="text" name="status" value="inProgress">
        <button class="btn btn-primary rounded-pill" type="submit">+</button>
      </form>
    </div>
  </div>
{{!-- end --}}
{{!-- begining --}}
  <div class="bg-light border rounded">
    <h1 class="text-center mt-3">Done</h1>

      {{#each notes}}
        {{#if doneBoolean}}
          {{> note this}}
        {{/if}}
      {{/each}}
   
    <div class="d-flex justify-content-center mb-3">
      <form action="/main-table" method="POST">
        <input type="text" name="status" value="done">
        <button class="btn btn-primary rounded-pill" type="submit">+</button>
      </form>
    </div>
  </div>
{{!-- end --}}
</div>

